﻿<br />
<br />
<br />
<br />
<h1 style="font-weight: bold; text-align:center;color:#7A2226;">T<span style="color:#1C486C;">olk</span>T<span style="color:#1C486C;">alk</span></h1>
<p style="text-align:center;" >
    Thank you for trusting TolkTalk as your partner.
</p>
<br /><br />
<h2 style="font-weight: bold">Quotation</h2>
<br />

<table>
    <tr>
        <td style="font-weight: bold">Name:</td>
        <td>[FIRSTNAME]&nbsp;[LASTNAME]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Street:</td>
        <td>[STREET]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">City:</td>
        <td>[CITY]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">ZIP:</td>
        <td>[ZIPCODE]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">State:</td>
        <td>[STATE]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Country:</td>
        <td>[COUNTRY]</td>
    </tr>
</table>
<br />

<br />
<table>
    <tr>
        <td style="font-weight: bold">Exipration Date:</td>
        <td>[EXPIRATIONDATE]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Days to deliver after acceptation:</td>
        <td>[DELIVERYPERDIODEXPRESSEDINDAYS]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Price excl.TAX:</td>
        <td>[PRICEEXCL]</td>
    </tr>
    <tr>
        <td style="font-weight: bold">TAX:</td>
        <td>[TAX] %</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Total:</td>
        <td>[PRICEINCLTAX]</td>
    </tr>
</table>