﻿@model Eindejaarsproject.DA.ViewModels.SettingsViewModel
@{
    ViewBag.Title = "Settings";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm("Update", "Settings", FormMethod.Post, new { @class = "form-horizontal", @novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            @Html.LabelFor(m => m.TaxPercentage, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.TextBoxFor(m => m.TaxPercentage, new { @class = "form-control", Type = "number", @min = "0", @data_val = "false" })
                @Html.ValidationMessageFor(m => m.TaxPercentage, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CommissionPercentage, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.TextBoxFor(m => m.CommissionPercentage, new { @class = "form-control", Type = "number", @min = "0", @data_val = "false" })
                @Html.ValidationMessageFor(m => m.CommissionPercentage, null, new { @class = "text-danger" })
            </div>
        </div>
        <button type="submit" class="btn btn-success pull-right">Update</button>
    }
</div>