﻿@using Eindejaarsproject.DA.Resources
@using Eindejaarsproject.DA.Helpers;
@{
    string controller = ViewContext.RouteData.Values["Controller"].ToString();
    string action = ViewContext.RouteData.Values["Action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Raw(Globalization.MetaAcceptLanguage())
</head>
<body ng-app="app">
    @Html.Partial("_NavBar")
 
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a class="" id="menu-toggle">
                        <i class="fa fa-toggle-on menu-icon"></i>
                    </a>
                </li>
                <li class="@( action == "Dashboard" && controller == "Desk" ?  "active" : "")">
                    <a href="@Url.Action("Dashboard", "Desk", new { area = "Customer" })"><i class="fa fa-tachometer menu-icon m-r-s"></i>@Global.Dashboard</a>
                </li>
                <li class="@( action == "Create" && controller == "Project" ?  "active" : "")">
                    <a href="@Url.Action("Create","Project", new { area = "Customer" })"><i class="fa fa-users menu-icon m-r-s"></i>@Global.NewProject</a>
                </li>
                <li class="@( action == "List" && controller == "Project" ?  "active" : "")">
                    <a href="@Url.Action("List","Project", new { area = "Customer" })"><i class="fa fa-language menu-icon m-r-s"></i>@Global.Projects</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user menu-icon m-r-s"></i>@Global.Profile</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_AlertMessageType")
                        @RenderBody()

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>