﻿@model Eindejaarsproject.DA.ViewModels.UpsertQuotationViewModel
@using Eindejaarsproject.DA.Resources;

@{
    ViewBag.Title = Global.Create;
}


<h2>@Global.Create</h2>
<div class="row">
    @using (Html.BeginForm("Create", "Quotation", FormMethod.Post, new { @class = "form-horizontal", @novalidate = "novalidate" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProjectId)

        <div class="form-group">
            @Html.LabelFor(m => m.PriceExclTax, new { @class = "control-label col-sm-3  col-md-2" })
            <div class="col-sm-9 col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    @Html.TextBoxFor(m => m.PriceExclTax, new { @class = "form-control", Type = "number", @min = "0", @data_val = "false" })
                </div>
                @Html.ValidationMessageFor(m => m.PriceExclTax, null, new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DeliveryPeriodExpressedInDays, new { @class = "control-label col-sm-3  col-md-2" })
                <div class="col-sm-9 col-md-10 ">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        @Html.TextBoxFor(m => m.DeliveryPeriodExpressedInDays, new { @class = "form-control", Type = "number", @min = "0" })
                        <span class="input-group-addon lead">days after quotation acceptation</span>
                    </div>
                    @Html.ValidationMessageFor(m => m.DeliveryPeriodExpressedInDays, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExpirationDateString, new { @class = "control-label col-sm-3 col-md-2" })
                <div class="col-sm-9 col-md-10">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        @Html.TextBoxFor(m => m.ExpirationDateString, new { @class = "form-control", placeholder = "DD-MM-YYYY" })

                    </div>
                    @Html.ValidationMessageFor(m => m.ExpirationDateString, null, new { @class = "text-danger" })
                    @*@Html.ValidationMessage("DesiredDeadlineIsLessOrEqualThanNow", new { @class = "text-danger" })*@
                </div>
            </div>

            <button type="submit" class="btn btn-success pull-right">@Global.Create</button>
    }
</div>
<div class="row m-t-m">
    @Html.Partial("_QuotationForListTable", Model.Quotations)
</div>
