﻿@model List<Eindejaarsproject.DA.ViewModels.QuotationForListViewModel>
@using Eindejaarsproject.DA.Resources 
@{
    ViewBag.Title = Global.Quotations;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_QuotationForListTable", Model)