﻿@model List<Eindejaarsproject.DA.ViewModels.File>

<div class="m-m p-s file-container">
    <div ng-repeat="file in files track by $index">
        <input id="Uploader_Files_{{$index}}__Name" name="Uploader.Files[{{$index}}].Name" type="hidden" value="{{file.name}}">
        <input id="Uploader_Files_{{$index}}__BlobName" name="Uploader.Files[{{$index}}].BlobName" type="hidden" value="{{file.blobName}}">
        <a class="link-nostyle" ng-hide="file.loading" href="javascript:" ng-click="deleteBlob(file)">
            <i class="fa fa-trash m-r-m text-danger"></i>
        </a>
        <img  ng-show="file.loading"  class="m-r-m" ng-cloak src="~/Content/images/loaders/horizontal_blue_96x9.gif" />
        <a href="/Api/File/DownloadBlob?blobName={{file.blobName}}&FileName={{file.name}}" ng-bind="file.name"></a>

    </div>
</div>