﻿@using Newtonsoft.Json.Serialization;
@model Eindejaarsproject.DA.ViewModels.Uploader


@{ 
    String files = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Files, new Newtonsoft.Json.JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    });
}
<div class="col-md-12">
    <div ng-controller="uploadController" ng-init="init(@files)">
        <div class="drop-zone m-m p-s text-center" id="file-dropzone">
            <i class="fa fa-file-image-o fa-3x m-s light"></i>
            <i class="fa fa-file-text-o fa-3x m-s light"></i>
            <i class="fa fa-file-word-o fa-3x m-s light"></i>
            <i class="fa fa-file-pdf-o fa-3x m-s light"></i>
            <div id="filelist" ng-cloak>Your browser doesn't have flash, Silverligth or HTML5 support</div>
            <div id="file_container" ng-init="initUploader()">
                <a id="pickfiles" class="btn btn-default btn-uploader absolute horizontal-center" ng-show="!busyUploading && !savingImages"><i class="fa fa-upload"></i></a>
                <a class="btn btn-default btn-uploader" ng-disabled="busyUploading" ng-show="busyUploading && !savingImages" ng-cloak>Uploading</a>
                <a class="btn btn-default btn-uploader" ng-disabled="savingFiles" ng-show="savingImages && !busyUploading" ng-cloak>Saving files</a>
            </div>
        </div>
        <span class="text-danger" ng-show="error">File not accepted</span>


        @Html.EditorFor(m => m.Files, "_Files")
        @Html.ValidationMessageFor(m => m.Files, null, new { @class = "text-danger" })
    </div>
</div>
