﻿@model Eindejaarsproject.DA.ViewModels.RegisterUserDetailsViewModel


<div class="form-group">
    @Html.LabelFor(m => m.Firstname, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Firstname, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Lastname, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Lastname, null, new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.BirthDayString, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBoxFor(m => m.BirthDayString, new { @class = "form-control", placeholder = "DD-MM-YYYY" })
        </div>
        @Html.ValidationMessageFor(m => m.BirthDayString, null, new { @class = "text-danger" })
    </div>
</div>
