﻿@using Eindejaarsproject.DA.Resources
@model List<Eindejaarsproject.DA.ViewModels.QuotationForListViewModel>

@{
    ViewBag.Title = Global.Quotations;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_QuotationForListTable", Model)