﻿@model   Eindejaarsproject.DA.ViewModels.DeliverProjectViewModel


@{
    ViewBag.Title = "Deliver";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    @using (Html.BeginForm("Deliver", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken();
        @Html.EditorFor(m => m.Uploader, "_Uploader")
        <div class="form-group">
            @Html.LabelFor(m => m.Note.Content, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.TextAreaFor(m => m.Note.Content, new { @class = "form-control" })
            </div>
        </div>
        <button type="submit" class="btn btn-success pull-right">Deliver</button>
    }

</div>

