﻿@using Eindejaarsproject.DA.Helpers
@using Eindejaarsproject.DA.Resources
@model Eindejaarsproject.DA.ViewModels.UserDetailsViewModel


@{
    ViewBag.Title = "Index";
}

<h2>@Global.Profile</h2>

<div class="row">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.FirstName)</dt>
        <dd>@Html.DisplayTextFor(m => m.FirstName)</dd>
        <dt>@Html.DisplayNameFor(m => m.LastName)</dt>
        <dd>@Html.DisplayTextFor(m => m.LastName)</dd>
        <dt>@Html.DisplayNameFor(m => m.BirthDay)</dt>
        <dd>@Html.DisplayTextFor(m => m.BirthDay)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.Street)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.Street)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.ZipCode)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.ZipCode)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.City)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.City)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.State)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.State)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.Country)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.Country)</dd>
    </dl>
</div>






<div class="row">
    <h3>Languages</h3>
    <dl class="dl-horizontal">
        @for (int i = 0; i < Model.Languages.Count; i++)
        {
            <dt>@Html.DisplayTextFor(m => m.Languages[i].Language)</dt>
            <dd><i class="@(Model.Languages[i].Approved ? "fa fa-check text-success" : "fa fa-times text-danger")" aria-hidden="true"></i></dd>

        }
    </dl>
       
        @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationMessage("DuplicateLanguage", new { @class = "text-danger" })
            @Html.ValidationMessage("EmptyValueFound", new { @class = "text-danger"})
            for (int i = 0, count = Model.LanguageCodes.Count; i < count; i++)
            {
                <div class="form-group" id="@(i == Model.LanguageCodes.Count -1 ? "block-to-clone":"")" data-count="@i">
                    @Html.LabelFor(m => m.LanguageCodes, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.LanguageCodes[i], Globalization.Languages(null), "--select--", new { @class = "select2" })

                    </div>
                </div>
            }

            @*<div class="form-group" id="block-to-clone">
                @Html.LabelFor(m => m.LanguageCodes, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.LanguageCodes, Model.LanguagesForDropdown, "--select--", new { @class = "select2 form-control" })
                    @Html.ValidationMessageFor(m => m.LanguageCodes, null, new { @class = "text-danger" })
                </div>
            </div>*@
            <div id="appendLanguage"></div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-default form-control" id="addLanguage"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        }
</div>

