﻿@if (TempData["succes"] != null)
{
    <div class="alert alert-success" role="alert">
        <a href="#" class="close fa fa-times" data-dismiss="alert" aria-label="close"></a>
        <p class="text-center">
            <strong>
                <i class="fa fa-bullhorn m-r-s"></i>
            </strong>
            @TempData["Succes"].ToString()
        </p>
    </div>
}
@if (TempData["info"] != null)
{
    <div class="alert alert-info" role="alert">
        <a href="#" class="close fa fa-times" data-dismiss="alert" aria-label="close"></a>
        <p class="text-center">
            <strong>
                <i class="fa fa-bullhorn m-r-s"></i>
            </strong>
            @TempData["info"].ToString()
        </p>
    </div>
}
@if (TempData["warning"] != null)
{
    <div class="alert alert-warning" role="alert">
        <a href="#" class="close fa fa-times" data-dismiss="alert" aria-label="close"></a>
        <p class="text-center">
            <strong>
                <i class="fa fa-bullhorn m-r-s"></i>
            </strong>
            @TempData["warning"].ToString()
        </p>
    </div>
}
@if (TempData["danger"] != null)
{
    <div class="alert alert-danger" role="alert">
        <a href="#" class="close fa fa-times" data-dismiss="alert" aria-label="close"></a>
        <p class="text-center">
            <strong>
                <i class="fa fa-bullhorn m-r-s"></i>
            </strong>
            @TempData["danger"].ToString()
        </p>
    </div>
}