﻿@model Eindejaarsproject.DA.ViewModels.DashboardViewModel


<div class="list-group">
    <span class="list-group-item active">
        Info
    </span>
    @if (User.IsInRole("Administrator"))
    {
        <a href="#" class="list-group-item">
            <span class="badge">@Model.FreelancersCount</span>
            @Html.LabelFor(m => m.FreelancersCount)
        </a>
        <a href="#" class="list-group-item">
            <span class="badge">@Model.CustomersCount</span>
            @Html.LabelFor(m => m.CustomersCount)
        </a>
    }
    <a href="#" class="list-group-item">
        <span class="badge">@Model.ProjectsCount</span>
        @Html.LabelFor(m => m.ProjectsCount)
    </a>

    @if (User.IsInRole("Administrator") || User.IsInRole("Freelancer"))
    {
        <a href="#" class="list-group-item">
            <span class="badge">@Model.ApprovedLanguagesCount</span>
            @Html.LabelFor(m => m.ApprovedLanguagesCount)
        </a>
    }
</div>
