﻿
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            @System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Change", "Language",new {languageCode = "en-GB", returnUrl = Request.Url.AbsoluteUri , area ="" })">en</a></li>
            <li><a href="@Url.Action("Change", "Language", new {languageCode = "nl-BE", returnUrl = Request.Url.AbsoluteUri, area =""})">nl</a></li>
            <li><a href="@Url.Action("Change", "Language", new {languageCode = "fr-FR", returnUrl = Request.Url.AbsoluteUri, area = "" })">fr</a></li>
        </ul>
    </li>