﻿@using Eindejaarsproject.DA.Helpers;
@using Eindejaarsproject.DA.Resources
@{ 
    var current = Request.Url.AbsolutePath;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TolkTalk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/angular")
    @Html.Raw(Globalization.MetaAcceptLanguage())
</head>
<body>
    <div class="loader" hidden>
        <div class="spinner vertical-center">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
@Html.Partial("_NavBar")
    <div id="wrap">
        <div id="main" class="container body-content clear-top">
            @RenderBody()
         
            
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>



    @RenderSection("scripts", required: false)
</body>
</html>
