﻿@using Microsoft.AspNet.Identity
@using Eindejaarsproject.DA.Resources
@using Eindejaarsproject.Model.Models


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account",new { area = ""},FormMethod.Post,new { id = "logoutForm", @class = "" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav  navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Hello @User.Identity.GetUserName()
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole(Enums.Roles.Administrator.ToDescriptionString()))
                    {
                        <li><a href="@Url.Action("Dashboard", "Desk",new { area ="Administrator" })">@Global.Desk</a></li>
                    }
                    else if (User.IsInRole(Enums.Roles.Freelancer.ToDescriptionString()))
                    {
                        <li><a href="@Url.Action("Dashboard", "Desk",new {area ="Freelancer" })">@Global.Desk</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Dashboard", "Desk",new {area ="Customer" })">@Global.Desk</a></li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">@Global.LogOff</a></li>
                </ul>
            </li>

            @Html.Partial("_LanguageSelector")
        </ul>
    }
}
else
{


    <ul class="nav navbar-nav navbar-right">
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")">@Html.ActionLink(Global.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">@Html.ActionLink(Global.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @Html.Partial("_LanguageSelector")
    </ul>
}
