﻿@using Eindejaarsproject.DA.Resources
<div class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span>T</span>olk<span>T</span>alk</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink(Global.Home, "Index", "Home", new { area = "" }, new { })</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "News" ? "active" : "")">@Html.ActionLink(Global.News, "News", "Home", new { area = "" }, new { })</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink(Global.Contact, "Contact", "Home", new { area = "" }, new { })</li>
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
