﻿@using Eindejaarsproject.Model.Models
@using Eindejaarsproject.DA.Resources
@using Microsoft.AspNet.Identity;
@model List<Eindejaarsproject.DA.ViewModels.ProjectForListViewModel>


@{
    int rowIndex = 0;
}

@if (Model.Any())
{
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>@Global.CreationDate</th>
            <th>@Global.SourceLanguage</th>
            <th>@Global.TargetLanguage</th>
            <th>@Global.Step</th>
            @if (User.IsInRole(Enums.Roles.Administrator.ToDescriptionString())
                 || User.IsInRole(Enums.Roles.Customer.ToDescriptionString()))
            {
                <th>PaymentStep</th>
            }

            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            rowIndex++;
            bool isExpired = item.Deadline != null
                             && item.Deadline.Value < DateTime.UtcNow
                             && item.Step == Enums.ProjectStep.InProgress;

            <tr class="@(isExpired ? "danger" :"")">
                <td>@rowIndex</td>
                <td>@item.CreationDate</td>
                <td>@item.SourceLanguage</td>
                <td>@item.TargetLanguage</td>
                <td>@item.Step</td>
                @if (User.IsInRole(Enums.Roles.Administrator.ToDescriptionString())
                     || User.IsInRole(Enums.Roles.Customer.ToDescriptionString()))
                {
                    <td>@item.PaymentStep</td>
                }
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", "Project", new {id = item.Id})">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    @if (item.HasQuotation
                         && !item.AcceptedQuotationId.HasValue
                         && (User.IsInRole(Enums.Roles.Administrator.ToDescriptionString()) || User.IsInRole(Enums.Roles.Customer.ToDescriptionString())
                             ))
                    {
                        <a class="btn btn-warning" href="@Url.Action("List", "Quotation", new { Area="customer", projectId = item.Id})">
                            <i class="fa fa-file m-r-xs"></i>@Global.Quotations
                        </a>
                    }

                    @if (User.IsInRole(Enums.Roles.Administrator.ToDescriptionString()))
                    {
                        <a class="btn btn-warning" href="@Url.Action("Edit", "Project", new {id = item.Id})">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-danger delete" href="@Url.Action("Delete", "Project", new {id = item.Id})">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                    @if (item.Step == Enums.ProjectStep.New && User.IsInRole(Enums.Roles.Freelancer.ToDescriptionString()))
                    {
                        <a class="btn btn-warning" href="@Url.Action("Create", "Quotation", new {projectId = item.Id})">
                            <i class="fa fa-file m-r-xs"></i>@Global.Quotation
                        </a>
                    }
                    @if ( !isExpired && item.Step == Enums.ProjectStep.InProgress && User.IsInRole(Enums.Roles.Freelancer.ToDescriptionString()) && item.FreelancerId == User.Identity.GetUserId())
                    {
                        <a class="btn btn-primary" href="@Url.Action("Deliver", "Project", new {id = item.Id})"><i class="fa fa-upload m-r-xs"></i>Deliver Project</a>
                    }

                    @if (isExpired)
                    {
                        <span class="m-l-m text-danger"><i class="fa fa-exclamation-triangle m-r-xs" aria-hidden="true"></i>Expired</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info m-t-m">Hellooo... no projects here?</div>
}


