﻿@model Eindejaarsproject.DA.ViewModels.ProjectDetailsViewModel
@using Eindejaarsproject.Model.Models;

<div class="row">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.Step)</dt>
        <dd>@Html.DisplayTextFor(m => m.Step)</dd>
        @if (User.IsInRole(Enums.Roles.Administrator.ToDescriptionString())
                                        || User.IsInRole(Enums.Roles.Customer.ToDescriptionString()))
        {
            <dt>@Html.DisplayNameFor(m => m.PaymentStep)</dt>
            <dd>@Html.DisplayTextFor(m => m.PaymentStep)</dd>
        }
        <dt>@Html.DisplayNameFor(m => m.SourceLanguage)</dt>
        <dd>@Html.DisplayTextFor(m => m.SourceLanguage)</dd>
        <dt>@Html.DisplayNameFor(m => m.TargetLanguage)</dt>
        <dd>@Html.DisplayTextFor(m => m.TargetLanguage)</dd>
        <dt>@Html.DisplayNameFor(m => m.IsSwornTranslation)</dt>
        <dd>@Html.DisplayTextFor(m => m.IsSwornTranslation)</dd>
        <dt>@Html.DisplayNameFor(m => m.DesiredDeadline)</dt>
        <dd>@Html.DisplayTextFor(m => m.DesiredDeadline)</dd>


        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <dt>@Html.DisplayNameFor(m => m.Note)</dt>
            <dd>@Html.DisplayTextFor(m => m.Note)</dd>
        }

        @if (!string.IsNullOrEmpty(Model.Deadline))
        {
            <dt>@Html.DisplayNameFor(m => m.Deadline)</dt>
            <dd>@Html.DisplayTextFor(m => m.Deadline)</dd>
        }

    </dl>
</div>


<div class="row">
    <h2>Documents</h2>
    <dl class="dl-horizontal">
        @if (Model.QuotationId.HasValue && User.IsInRole(Enums.Roles.Customer.ToDescriptionString()))
        {
            <dt class="m-b-xs"><a href="@Url.Action("DownloadQuotation","Quotation", new { id = Model.QuotationId.Value })" class="btn btn-default btn-xs"><i class="fa fa-download"></i></a></dt>
            <dd class="m-b-xs">@Html.DisplayNameFor(m => m.QuotationId)</dd>
        }
        @if (Model.InvoiceId.HasValue && User.IsInRole(Enums.Roles.Customer.ToDescriptionString()))
        {
            <dt class="m-b-xs"><a href="@Url.Action("DownloadQuotation","Quotation", new { id = Model.QuotationId.Value, isInvoice = true })" class="btn btn-default btn-xs"><i class="fa fa-download"></i></a></dt>
            <dd class="m-b-xs">@Html.DisplayNameFor(m => m.InvoiceId)</dd>
        }

    </dl>

   

 


        <h3>SourceDocuments</h3>
        <dl class="dl-horizontal">
            @foreach (var item in Model.SourceDocuments)
            {
                <dt class="m-b-xs"><a href="/Api/File/DownloadBlob?blobName=@item.BlobName&FileName=@item.Name" class="btn btn-default btn-xs"><i class="fa fa-download"></i></a></dt>
                <dd class="m-b-xs">@item.Name</dd>

                }
        </dl>
        @if (Model.TargetDocuments.Any() && Model.PaymentStep == Eindejaarsproject.Model.Models.Enums.PaymentStep.Payed)
        {
            
                <h3>TargetDocuments</h3>
                <dl class="dl-horizontal">
                    @foreach (var item in Model.TargetDocuments)
                {
                        <dt class="m-b-xs"><a href="/Api/File/DownloadBlob?blobName=@item.BlobName&FileName=@item.Name" class="btn btn-default btn-xs"><i class="fa fa-download"></i></a></dt>
                        <dd class="m-b-xs">@item.Name</dd>

                    }
                </dl>
        
        }
    </div>
