﻿@model List<Eindejaarsproject.DA.ViewModels.QuotationForListViewModel>
@using Eindejaarsproject.DA.Resources
@using Eindejaarsproject.Model.Models

@{
    int rowIndex = 0;
}

@if (Model.Any())
{
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th></th>
                <th>@Global.CreationDate</th>
                <th>Expires</th>
                <th>Days</th>
                <th>@Global.PriceExclTax</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                rowIndex++;

                <tr>
                    <td>@rowIndex</td>
                    <td>@item.CreationDate</td>
                    <td>@item.ExpirationDate</td>
                    <td>@item.DeliveryPeriodExpressedInDays</td>
                    <td>&euro;&nbsp;@(User.IsInRole(Enums.Roles.Freelancer.ToDescriptionString()) ? item.PriceExlTax : item.PriceExclTaxInclCommission)</td>
                    <td>
                        <a class="btn btn-info" href="@Url.Action("Details", "Project", new {id = item.ProjectId})"><i class="fa fa-info-circle"></i></a>
                        @if (User.IsInRole(Enums.Roles.Customer.ToDescriptionString()))
                        {
                            <a class="btn btn-primary" href="@Url.Action("DownloadQuotation", "Quotation", new { id = item.Id})"><i class="fa fa-download"></i></a>
                            <a class="btn btn-success" data-toggle="modal" data-target="#AcceptQuotationModal" onclick="setValuesForAcceptQuotationModal('@item.PriceExclTaxInclCommission',
                                '@DateTime.Now.AddDays(item.DeliveryPeriodExpressedInDays).ToString("dd/MM/yyyy")',    '@item.Id')"><i class="fa fa-check m-r-xs"></i>@Global.AcceptQuotation</a>

                        }
                    </td>



                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="AcceptQuotationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@Global.AcceptQuotation</h4>
                </div>
                <div class="modal-body">
                    @Html.Raw(Global.AcceptQuotationModalBody)

                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal">@Global.Cancel</a>
                    <a class="btn btn-success" id="acceptQuotation" href="">@Global.Accept</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info m-t-m">Hellooo... Any quotations here?</div>
}

