﻿@model String
@{
    ViewBag.Title = "EmailSendConfirmation";
}

<div class="row">
    <h2>Confirm your email</h2>
    <p>
        Thank you for registering an email has been send to @Model please confirm your email by clicking the link.
    </p>

</div>

