﻿@model Eindejaarproject.DA.ViewModels.Identity.RegisterViewModel
@using Eindejaarsproject.DA.Resources;
@using Eindejaarsproject.DA.Helpers;
@{
    ViewBag.Title = Global.Create;
}
<h1>@ViewBag.Title</h1>


@using (Html.BeginForm("RegisterAsFreelancer", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            @Html.ValidationMessage("AlreadyTaken", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
    </div>
    @Html.EditorFor(m => m.UserDetailsViewModel, "_UserDetails")
    @Html.EditorFor(m => m.AddressViewModel, "_Address")
  

   
        for (int i = 0, count = Model.LanguageCodes.Count; i < count; i++)
        {
            <div class="form-group" id="@(i == Model.LanguageCodes.Count -1 ? "block-to-clone":"")" data-count="@i">
                @Html.LabelFor(m => m.LanguageCodes, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.LanguageCodes[i], Globalization.Languages(null),"--select--", new { @class = "select2" })

                </div>
            </div>
        }

   

    <div id="appendLanguage"></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ValidationMessage("DuplicateLanguage", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.LanguageCodes, null, new { @class = "text-danger" })
        </div>
    </div>






    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default pull-right" id="addLanguage"><i class="fa fa-plus m-r-xs"></i>Add Language</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default pull-right" value="Register" />
        </div>
    </div>

}
@*@section Scripts {
        @Scripts.Render("~/bundels/jqueryval")
    }*@