﻿@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<ul>
    <li>@Html.ActionLink("Register as customer","RegisterAsCustomer","Account")</li>
    <li>@Html.ActionLink("Register as freelancer", "RegisterAsFreelancer","Account")</li>
</ul>
