﻿@model Eindejaarproject.DA.ViewModels.Identity.RegisterViewModel
@{
    ViewBag.Title = "RegisterAsCustomer";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("RegisterAsCustomer", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, null,new { @class = "text-danger" })
            @Html.ValidationMessage("AlreadyTaken", new { @class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
    </div>
    @Html.EditorFor(m => m.UserDetailsViewModel, "_UserDetails")
    @Html.EditorFor(m => m.AddressViewModel, "_Address")

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundels/jqueryval")
}