﻿@model Eindejaarsproject.DA.ViewModels.UpsertProjectViewModel
@using Eindejaarsproject.DA.Resources;

@{
    ViewBag.Title = Global.Create;
}


<h2>@Global.Create</h2>
<div class="row" ng-controller="projectController" >
    @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.EditorFor(m => m.Uploader, "_Uploader")
        <div class="form-group">
            @Html.LabelFor(m => m.Project.SourceLanguageCode, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.DropDownListFor(m => m.Project.SourceLanguageCode, Model.Project.LanguagesForDropdown, "--Select--", new { @class = "form-control", ng_model = "selectedLanguage",  })
                @Html.ValidationMessageFor(m => m.Project.SourceLanguageCode, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.TargetLanguageCode, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                <select class="form-control" 
                        data-val="true" 
                        data-val-required="This field is required" 
                        id="Project_TargetLanguageCode" 
                        name="Project.TargetLanguageCode" 
                        ng-disabled="!selectedLanguage.length" 
                        tabindex="-1" 
                        aria-hidden="true"
                        ng-hide="loading">
                    <option value="">--Select--</option>
                    <option ng-repeat="lang in matchedLanguages" value="{{lang.value}}">{{lang.text}}</option>
                </select>
                <img ng-cloak ng-show="loading" src="~/Content/images/loaders/horizontal_blue_192x17.gif" />


                @Html.ValidationMessageFor(m => m.Project.TargetLanguageCode, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.DesiredDeadline, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.Project.DesiredDeadlineString, new { @class = "form-control", placeholder = "DD-MM-YYYY" })
                </div>
                @Html.ValidationMessageFor(m => m.Project.DesiredDeadline, null, new { @class = "text-danger" })
                @Html.ValidationMessage("DesiredDeadlineIsLessOrEqualThanNow", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.IsSwornTranslation, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                <div class="checkbox checkbox-inline">
                    @Html.CheckBoxFor(m => m.Project.IsSwornTranslation, new { @class = "" })
                </div>
                @Html.ValidationMessageFor(m => m.Project.IsSwornTranslation, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Note.Content, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.TextAreaFor(m => m.Note.Content, new { @class = "form-control" })
            </div>
        </div>
        <button type="submit" class="btn btn-success pull-right">@Global.Create</button>
    }
</div>
