﻿@using Eindejaarsproject.DA.Resources
@using Eindejaarsproject.Model.Models;
@model Eindejaarsproject.DA.ViewModels.UpsertProjectViewModel

@{
    ViewBag.Title = @Global.Edit;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.Project.Id)
        @Html.HiddenFor(m => m.Note.Id)

        @Html.EditorFor(m => m.Uploader, "_Uploader")

        <div class="form-group">
            @Html.LabelFor(m => m.Project.SourceLanguageCode, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.DropDownListFor(m => m.Project.SourceLanguageCode, Model.Project.LanguagesForDropdown, "--Select--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(m => m.Project.SourceLanguageCode, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.TargetLanguageCode, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.DropDownListFor(m => m.Project.TargetLanguageCode, Model.Project.LanguagesForDropdown, "--Select--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(m => m.Project.TargetLanguageCode, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.DesiredDeadline, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.Project.DesiredDeadlineString, new { @class = "form-control", placeholder = "DD-MM-YYYY" })
                </div>
                @Html.ValidationMessageFor(m => m.Project.DesiredDeadline, null, new { @class = "text-danger" })
                @Html.ValidationMessage("DesiredDeadlineIsLessOrEqualThanNow", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.IsSwornTranslation, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                <div class="checkbox checkbox-inline">
                    @Html.CheckBoxFor(m => m.Project.IsSwornTranslation, new { @class = "" })
                </div>
                @Html.ValidationMessageFor(m => m.Project.IsSwornTranslation, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Note.Content, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.TextAreaFor(m => m.Note.Content, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.Step, new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-9 col-md-10">
                @Html.DropDownListFor(m => m.Project.Step, new SelectList(Enum.GetValues(typeof(Enums.ProjectStep))), "--Select--", new { @class = "form-control" })
            </div>
        </div>

       <div class="form-group">
           @Html.LabelFor(m => m.Project.PaymentStep, new {@class = "control-label col-sm-3 col-md-2" })
           <div class="col-sm-9 col-md-10">
               @Html.DropDownListFor(m => m.Project.PaymentStep, new SelectList(Enum.GetValues(typeof(Enums.PaymentStep))),"--Select--", new { @class = "form-control" })
           </div>
       </div>
 
        <button type="submit" class="btn btn-success pull-right">@Global.Edit</button>
    }
</div>
