﻿/*HTML Tag Style*/
@color-body: #000;
@color-h1: #000;
@color-h2: #000;
@color-h3: #000;
@color-p: #000;
@color-span: #000;
@color-div: #000;
@color-ul: #000;
@color-th:#fff;
@color-background-th:#7A2226;

/*Class Style*/
@color-link-hoveronly:#000;



@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight:normal;
}
@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-Italic.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style:italic;
}


/**************************************************************************************************************/

body {
    color: @color-body;
    font-family: FiraSans;

}

h1 {
    color: @color-h1;
}

h1.small {
}

h1.medium {
}

h1.big {
}

h2 {
    color: @color-h2;
}

h2.small {
}

h2.medium {
}

h2.big {
}

h3 {
    color: @color-h3;
}

h3.small {
}

h3.medium {
}

h3.big {
}

p {
    color: @color-p;
}

p.small {
}

p.medium {
}

p.big {
}

span {
    color: @color-span;
}

span.small {
}

span.medium {
}

span.big {
}

div {
    color: @color-div;
}

/*List*/
ul {
    color: @color-ul;
}
/*Table*/

th{
    background-color:@color-background-th ;
    color:@color-th;
}



/******************************************************************BOOTSTRAP***************************************************************************************************/
/*MENU*/
@bgDefault: #fff;
@bgHighlight: #7A2226;
@colDefault: #000;
@colHighlight: #D0E4F5;
@dropDown: false;
@colBackground: #fff;

.ddm() when (@dropDown) {
    > .dropdown-menu {
        background-color: @bgDefault;
            
        > li > a {
            color: @colDefault;

            &:hover, &:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }

        .divider {
            background-color: @bgHighlight;
        }
    }
}

.navbar-default {
    background-color: @bgDefault;
    border-color: @bgHighlight;
    border-color: @bgHighlight;
    border-width: 0;
    border-bottom-width: 3px;
    border-style: solid;

    .navbar-brand {
        color: @bgHighlight;

      
    }

    .navbar-text {
        color: @colDefault;
    }

    .navbar-nav {
         
        > li {
            > a {
                color: @bgHighlight;
                &:hover, &:focus {
            color: @colHighlight;
            background-color: @bgHighlight;
        }

              
            }

            .ddm
        }

        > .active {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }

        > .open {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
    }

    .navbar-toggle {
        border-color: @bgHighlight;

        &:hover, &:focus {
            background-color: @bgHighlight;
        }

        .icon-bar {
            background-color: @colDefault;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: @colDefault;
    }

    .navbar-link {
        color: @colDefault;

        &:hover {
            color: @colHighlight;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: @colDefault;

            &:hover, &:focus {
                color: @colHighlight;
            }
        }

        > .active {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
    }
}

/*
    Footer at bottom of page

    Example:

    <div id="wrap">
        <div id="main" class="container clear-top">
            <p>Your content here</p>
        </div>
    </div>
    <footer class="footer"></footer>
*/


html, body {
  height: 100%;
  background-color: @colBackground;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 


/*********************************************************************LAYOUT***************************************************************************************************/
/*MARGIN*/
.m-xxs {
    margin: 5px;
}

.m-xs {
    margin: 10px;
}

.m-s {
    margin: 20px;
}

.m-m {
    margin: 40px;
}

.m-l {
    margin: 80px;
}

.m-xl {
    margin: 140px;
}

.m-xxl {
    margin: 180px;
}
/*MARGIN TOP*/
.m-t-xxs {
    margin-top: 5px;
}

.m-t-xs {
    margin-top: 10px;
}

.m-t-s {
    margin-top: 20px;
}

.m-t-m {
    margin-top: 40px;
}

.m-t-l {
    margin-top: 80px;
}

.m-t-xl {
    margin-top: 140px;
}

.m-t-xxl {
    margin-top: 180px;
}

/*MARGIN BOTTOM*/
.m-b-xxs {
    margin-bottom: 5px;
}

.m-b-xs {
    margin-bottom: 10px;
}

.m-b-s {
    margin-bottom: 20px;
}

.m-b-m {
    margin-bottom: 40px;
}

.m-b-l {
    margin-bottom: 80px;
}

.m-b-xl {
    margin-bottom: 140px;
}

.m-b-xxl {
    margin-bottom: 180px;
}

/*MARGIN LEFT*/
.m-l-xxs {
    margin-left: 5px;
}

.m-l-xs {
    margin-left: 10px;
}

.m-l-s {
    margin-left: 20px;
}

.m-l-m {
    margin-left: 40px;
}

.m-l-l {
    margin-left: 80px;
}

.m-l-xl {
    margin-left: 140px;
}

.m-l-xxl {
    margin-left: 180px;
}


/*MARGIN RIGHT*/
.m-r-xxs {
    margin-right: 5px;
}

.m-r-xs {
    margin-right: 10px;
}

.m-r-s {
    margin-right: 20px;
}

.m-r-m {
    margin-right: 40px;
}

.m-r-l {
    margin-right: 80px;
}

.m-r-xl {
    margin-right: 140px;
}

.m-r-xxl {
    margin-right: 180px;
}



/*PADDING*/
.p-xxs {
    padding: 5px;
}

.p-xs {
    padding: 10px;
}

.p-s {
    padding: 20px;
}

.p-m {
    padding: 40px;
}

.p-l {
    padding: 80px;
}

.p-xl {
    padding: 140px;
}

.p-xxl {
    padding: 180px;
}
/*PADDING TOP*/
.p-t-xxs {
    padding-top: 5px;
}

.p-t-xs {
    padding-top: 10px;
}

.p-t-s {
    padding-top: 20px;
}

.p-t-m {
    padding-top: 40px;
}

.p-t-l {
    padding-top: 80px;
}

.p-t-xl {
    padding-top: 140px;
}

.p-t-xxl {
    padding-top: 180px;
}

/*PADDING BOTTOM*/
.p-b-xxs {
    padding-bottom: 5px;
}

.p-b-xs {
    padding-bottom: 10px;
}

.p-b-s {
    padding-bottom: 20px;
}

.p-b-m {
    padding-bottom: 40px;
}

.p-b-l {
    padding-bottom: 80px;
}

.p-b-xl {
    padding-bottom: 140px;
}

.p-b-xxl {
    padding-bottom: 180px;
}

/*PADDING LEFT*/
.p-l-xxs {
    padding-left: 5px;
}

.p-l-xs {
    padding-left: 10px;
}

.p-l-s {
    padding-left: 20px;
}

.p-l-m {
    padding-left: 40px;
}

.p-l-l {
    padding-left: 80px;
}

.p-l-xl {
    padding-left: 140px;
}

.p-l-xxl {
    padding-left: 180px;
}


/*PADDING RIGHT*/
.p-r-xxs {
    padding-right: 5px;
}

.p-r-xs {
    padding-right: 10px;
}

.p-r-s {
    padding-right: 20px;
}

.p-r-m {
    padding-right: 40px;
}

.p-r-l {
    padding-right: 80px;
}

.p-r-xl {
    padding-right: 140px;
}

.p-r-xxl {
    padding-right: 180px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/*Remove*/

.nopadding {
    padding: 0;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
}

.nomargin {
    margin: 0;
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}

//*******************************************************************DIMENTIONS************************************************************************************************//
.full{
    height:100%;
    width:100%;
}

.full-width{
    width:100%;
}

.full-height{
    height:100%;
}


//*******************************************************************CENTER************************************************************************************************//

//Can be used for image
.vertical-center {
    position: absolute;
    z-index: 1030;
    top:20%;

}

//Center an object
.horizontal-center {
    //Add fix width to object.
    display: block;
    margin: 0 auto;
}
//Center an object if absolute
.horizontal-center.absolute {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

//Set 2 divs next to each other 50% of parent;
.col-6 {
    width: 50%;
    display: inline-block;
    float: left;
}
//Set 3 divs next to each other 33% of parent;
.col-3 {
    width: 33.33%;
    display: inline-block;
    float: left;
}




//******************************************************************LINK**************************************************************************************************//
a.link-nostyle {
    color: inherit;

    &:link {
        color: inherit;
        text-decoration: none;
    }


    &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:visited {
        color: inherit;
        text-decoration: none;
    }

    &:active {
        color: inherit;
        text-decoration: none;
    }
}

a.link-hoveronly{
    color: inherit;

    &:link {
        color: inherit;
        text-decoration: none;
    }


    &:hover {
        color: inherit;
        text-decoration: @color-link-hoveronly;
    }

    &:visited {
        color: inherit;
        text-decoration: none;
    }

    &:active {
        color: inherit;
        text-decoration: none;
    }
}
