﻿@color1: #7A2226;
@color2: #4C84B2;


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 350px;
}*/


textarea {
    resize: vertical;
}

.footer {
    border-top: 1px solid #4C84B2;
}

.bold {
    font-weight: 700;
}

/*Sidebar*/

.menu-icon {
    font-size: 22px;
    color: #fff;
}

.btn.btn-default.toggle {
    border-radius: 0;
    background-color: #000;
}

.sidebar-nav {
    li.active {
        background: #4C84B2;

        a, i {
            text-decoration: none;
            color: #fff;
        }
    }
}

.navbar-brand {
    font-size: 38px;
    font-weight: 600;
    color: @color2 !important;

    span {
        color: @color1;
    }
}

.badge {
    background-color: @color2;
}

.list-group-item {

    &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.list-group-item.active{
    background-color: @color1;
    border-color: @color1;

    &:hover{
        background-color:@color1;
        border-color:@color1;
    }

}
/*Uploader*/

.drop-zone {
    min-height: 150px;
    border: 2px dashed #4C84B2;
}

.fa.light {
    color: lightgray;
}

.btn-uploader {
    min-width: 80px;
    max-width: 150px;
    color: #fff;
    background-color: #7A2226;
    border-color: #7A2226;

    &:hover {
        background-color: brown;
        border-color: brown;
        color: #fff;
    }
}

.progress-bar {
    background-color: #7A2226;
}

.file-container {
}


/*Datepicker*/

.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
    background: #4C84B2;
}

.datepicker table tr td, .datepicker table tr th {
    border-radius: initial;
}


/*Form*/
.btn {
    border-radius: initial;
}

.btn-default {
    color: #fff;
    background-color: @color1;
    border-color: @color1;

    &:hover, &:focus, &:visited, &:active, &:hover:active {
        color: #fff;
        border-color: @color2;
        background-color: @color2;
    }
}

.form-control {
    border: 1px solid @color2;
    border-radius: initial;

    &:focus {
        border-color: @color1;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @color1;
    }
}

.input-group-addon {
    color: #fff;
    border: 1px solid @color2;
    border-radius: initial;
    background-color: @color2;

    &:focus {
        background-color: @color1;
    }
}

.select2 {
    width: 100%;
}

.select2-container--default .select2-selection--single {
    color: @color1 !important;
    border: 1px solid @color2;
    border-radius: initial;

    &:focus {
        border-color: @color1 !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @color1;
    }
}




@media only screen and (min-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        padding-left: 250px;
    }
}
