﻿@model Eindejaarsproject.DA.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.FirstName)</dt>
        <dd>@Html.DisplayTextFor(m => m.FirstName)</dd>
        <dt>@Html.DisplayNameFor(m => m.LastName)</dt>
        <dd>@Html.DisplayTextFor(m => m.LastName)</dd>
        <dt>@Html.DisplayNameFor(m => m.BirthDay)</dt>
        <dd>@Html.DisplayTextFor(m => m.BirthDay)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.Street)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.Street)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.ZipCode)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.ZipCode)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.City)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.City)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.State)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.State)</dd>
        <dt>@Html.DisplayNameFor(m => m.Address.Country)</dt>
        <dd>@Html.DisplayTextFor(m => m.Address.Country)</dd>
    </dl>
</div>

@if (Model.Languages.Any())
{
    <div class="row">
        <h3>Languages</h3>

        @using (Html.BeginForm("ApproveLanguages", "Freelancer", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.UserId)
            for (int i = 0, length = Model.Languages.Count; i < length; i++)
            {
                @Html.HiddenFor(m => m.Languages[i].LanguageCode)

                <div class="form-group">
                    <span class="col-sm-3 col-md-2">
                        @Html.DisplayTextFor(m => m.Languages[i].Language)
                    </span>
                    <div class="col-sm-9 col-md-10">
                        <div class="checkbox checkbox-inline">
                            @Html.CheckBoxFor(m => m.Languages[i].Approved)
                        </div>
                    </div>
                </div>
            }

            <button type="submit" class="btn btn-success">Save</button>
        }
    </div>
}
