﻿@model List<Eindejaarsproject.DA.ViewModels.FreelancerForListViewModel>

@{
    ViewBag.Title = "List";

    int rowIndex = 0;
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            rowIndex++;
            <tr>
                <td>@rowIndex</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", "Freelancer", new {id = item.Id})"><i class="fa fa-info-circle"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info m-t-m">Helloo... no freelancers here?</div>
}
